<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><img src="https://png.icons8.com/github/windows/50/000000" alt="GitHub"/><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
          <li><img src="https://png.icons8.com/facebook/material/50/000000" alt="Facebook"/><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2017 Copyright Text
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
