<div class="example-container mat-elevation-z8">
  <h1 class="tilte-manage">Manage user</h1>
  <div class="example-header" fxLayout="row" fxLayoutAlign="end center" style="margin: 5px 20px;">
    <input type="text" fxFlex="30" name="password" #filter placeholder="Filter users" style="border: 1px solid #26a69a; border-radius: 5px; padding: 5px; height: 40px;"
    />
    <button md-raised-button style="background: #26a69a; color: white; margin-left: 1px" fxFlex="5">
      <md-icon class="md-24" aria-label="Example icon-button with a heart icon">search</md-icon>
    </button>
  </div>
  <md-table #table [dataSource]="dataSource" style="margin: 40px">
    <!-- ID Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container mdColumnDef="address">
      <md-header-cell *mdHeaderCellDef> Address </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.address}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef> Title </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.title}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="price">
      <md-header-cell *mdHeaderCellDef> Price </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.price | currency:'USD':true:'1.2-2'}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="actions">
      <md-header-cell *mdHeaderCellDef> Action </md-header-cell>
      <md-cell *mdCellDef="let row">
        <button md-icon-button style="background:#009688; color:white" (click)="openDialog(row.id)">
          <md-icon class="md-12">mode_edit</md-icon>
        </button>
        <button md-icon-button style="background:#F44336; color:white">
          <md-icon class="md-12">delete</md-icon>
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <!-- [pageSizeOptions]="[5, 10, 25, 100]"  -->
  <md-paginator #paginator [length]="totalPage" [pageSize]="10" (page)="pageEvent = $event; onPaginateChange($event)">
  </md-paginator>
</div>
