<md-card fxLayout="row" class="comment">
  <div fxFlex="5" class="avatar">
    <img md-card-avatar src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-1/p40x40/11133810_580360328733108_1655132751212319089_n.jpg?oh=2fced65e57728c61a6cf76dcccd1536b&oe=5A1645DA"
      alt="">
  </div>
  <div fxFlex="95" class="conent">
    <a href="#">
      <p md-card-subtitle class="name">Name Here</p>
    </a>
    <md-card-content class="message">Chương trình của năm thuộc về Táo quân Xuân Đinh Dậu. Thay mặt ê-kíp lên nhận cúp, nghệ sĩ Công Lý chia sẻ: "Cuối cùng
      thì tôi cũng được bước chân lên đây. Tôi xin phép đại diện những người làm nên chương trình Táo quân gửi lời cảm ơn
      VFC, anh Khải Hưng, anh Đỗ Thanh Hải đã cùng chúng tôi giữ gìn thương hiệu Táo quân suốt hơn 11 năm".
    </md-card-content>
    <md-card-actions>
      <button md-raised-button>
          <span>700</span>
          <md-icon class="md-24" aria-label="Example icon-button with a heart icon">thumb_up</md-icon> 
       </button>
      <button md-raised-button>
          <span>2000</span>
          <md-icon class="md-24" aria-label="Example icon-button with a heart icon">thumb_down</md-icon> 
      </button>
    </md-card-actions>

  </div>
</md-card>
