<div class="info" style="background: #9E9E9E; color: black; width: 100%; padding: 10px">
  <md-card>
    <md-card-header>
      <img md-card-avatar src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-1/p40x40/11133810_580360328733108_1655132751212319089_n.jpg?oh=6c7919eac401618644afeeeaa635bc14&oe=5A3DD2DA"
        style="border-radius: 50%">
      <md-card-title>duonganhvu089x@gmail.com</md-card-title>
    </md-card-header>
  </md-card>
</div>


<md-list>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        <i class="material-icons">place</i>
      </md-panel-title>
      <md-panel-description>
        Type your name and age
      </md-panel-description>
    </md-expansion-panel-header>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        <i class="material-icons">place</i>
      </md-panel-title>
      <md-panel-description>
        Type your name and age
      </md-panel-description>
    </md-expansion-panel-header>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        <i class="material-icons">place</i>
      </md-panel-title>
      <md-panel-description>
        Type your name and age
      </md-panel-description>
    </md-expansion-panel-header>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        <i class="material-icons">place</i>
      </md-panel-title>
      <md-panel-description>
        Type your name and age
      </md-panel-description>
    </md-expansion-panel-header>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        <i class="material-icons">place</i>
      </md-panel-title>
      <md-panel-description>
        Type your name and age
      </md-panel-description>
    </md-expansion-panel-header>
    <md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list>
  </md-expansion-panel>
</md-list>
