<div class="recommendation-block">
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
      <a href="link-article">
        <md-card class="example-card">
          <md-card-header>
            <md-card-title><a href="link-article">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</a></md-card-title>
            <md-card-subtitle><a href="subtilte">21:00 hôm nay</a> trong <a href="ios">iOS</a></md-card-subtitle>
          </md-card-header>
          <img md-card-image src="http://znews-photo-td.zadn.vn/w660/Uploaded/OpluOAA/2017_09_07/bao_thanh_2_zing.jpg" alt="Photo of a Shiba Inu">
          <md-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </md-card-content>
        </md-card>
      </a>
    </div>
  </div>
</div>
