<div fxLayout="row" class="article-component">
  <app-menu fxFlex="20" fxShow.sm="false" fxShow.xs="false"></app-menu>
  <div class="article-detail" fxFlex="60">
    <div class="title-block" #divTitleBlock>
      <h4 class="title">[Review] iPad Pro 10.5 + Smart Keyboard đã làm mình muốn rời xa MacBook Pro</h4>
      <img class="img-title" src="https://photo2.tinhte.vn/data/attachment-files/2017/08/4119945_cv-ipad.jpg" #imgTitle />
      <div class="author-block" fxLayout="row" fxShow.sm="false" fxShow.xs="false" #divAuthorBlock [style.height.px]="heightDivAuthorBlock">
        <div class="author-info" fxFlex="10">
          <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-1/p40x40/11133810_580360328733108_1655132751212319089_n.jpg?oh=2fced65e57728c61a6cf76dcccd1536b&oe=5A1645DA"
          />
          <p class="author-name"><a href="#">Dương Vũ</a></p>
        </div>
        <p fxFlex="90" fxLayout="row">
          Category: <a href="#">Tin tức - Đánh giá</a>, Time: <a href="#" class="time"> 19:00 07/09/2017</a>. replay : 120,
          views: 1,240,122
        </p>
      </div>
    </div>
    <div class="content-block">
      <article>
        <div class="the-article-body cms-body">
          <div class="sub-title">
            <h4>Nhà cho thuê nguyên căn </h4>
            <p>Địa chỉ: 179/12 CMT8 p.12- <a href="#">Q3</a> - <a href="#">Tp.HCM</a></p>
          </div>
          <div class="body">
            <div class="more-image" fxLayout="column" fxLayoutWrap="wrap">
              <div fxLayout fxLayout.xs="column" fxLayoutWrap="wrap">
                <div class="image-info" fxFlex="24%">
                  <img (click)="openDialogImage()" src="https://static.chotot.com.vn/wm_images/10/1081461276.jpg" alt="">
                </div>
                <div class="image-info" fxFlex="24%">
                  <img (click)="openDialogImage()" src="https://static.chotot.com.vn/wm_images/10/1081461276.jpg" alt="">
                </div>
                <div class="image-info" fxFlex="24%">
                  <img (click)="openDialogImage()" src="https://static.chotot.com.vn/wm_images/10/1081461276.jpg" alt="">
                </div>
                <div class="image-info" fxFlex="24%">
                  <img (click)="openDialogImage()" src="https://static.chotot.com.vn/wm_images/10/1081461276.jpg" alt="">
                </div>
                <div class="image-info" fxFlex="24%">
                  <img (click)="openDialogImage()" src="https://static.chotot.com.vn/wm_images/10/1081461276.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="content-info">

            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="action">
      <button md-raised-button>
        <span>1k</span>
        <md-icon class="md-12">thumb_up</md-icon> 
      </button>
      <button md-raised-button (click)="toogleComment()">
        <md-icon class="md-12">comment</md-icon> 
      </button>
      <button md-raised-button (click)="openDialog()">
        <md-icon class="md-12">share</md-icon> 
      </button>
    </div>
    <div [ngClass]="commentBlockCss">
      <app-list-comment></app-list-comment>
      <form class="example-form" fxLayout="column">
        <md-form-field fxFlex="100" style="width: 80%">
          <textarea mdInput placeholder="Enter you comment"></textarea>
        </md-form-field>
        <div fxFlex="20" fxLayoutAlign="end start">
          <button md-raised-button color="primary">Send</button>
        </div>
      </form>
    </div>
    <div class="recommendation">
      <app-recommendation></app-recommendation>
    </div>
  </div>
</div>
